/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";

#thinkingbox {
  position:       fixed;
  width:          60px;
  height:         60px;
  left:           50%;
  margin-left:    -40px;
  top:            30%;
  background:     rgba(0,0,0,0.8);
  border-radius:  10px;
  text-align:     center;
  display:        none;
  z-index:        10000;
  pointer-events: none;

  img {
    margin-top: 15px;
    width:      30px;
    height:     30px;
  }
}

/*========================================
THINKING SPINNER
==========================================*/

.thinking-spinner {
  opacity:           .7;
  -webkit-animation: rotate 1s infinite steps(12);
  -moz-animation:    rotate 1s infinite steps(12);
  -ms-animation:     rotate 1s infinite steps(12);
  -o-animation:      rotate 1s infinite steps(12);
  animation:         rotate 1s infinite steps(12);
  width:             32px;
  height:            32px;
  pointer-events:    none;
}

@keyframes "rotate" {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -o-transform:      rotate(0deg);
    -ms-transform:     rotate(0deg);
    transform:         rotate(0deg);
 }
 to {
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -o-transform:      rotate(360deg);
    -ms-transform:     rotate(360deg);
    transform:         rotate(360deg);
 }

}

@-moz-keyframes rotate {
 from {
   -moz-transform: rotate(0deg);
   transform:      rotate(0deg);
 }
 to {
   -moz-transform: rotate(360deg);
   transform:      rotate(360deg);
 }

}

@-webkit-keyframes "rotate" {
 from {
   -webkit-transform: rotate(0deg);
   transform:         rotate(0deg);
 }
 to {
   -webkit-transform: rotate(360deg);
   transform:         rotate(360deg);
 }

}

@-ms-keyframes "rotate" {
 from {
   -ms-transform: rotate(0deg);
   transform:     rotate(0deg);
 }
 to {
   -ms-transform: rotate(360deg);
   transform:     rotate(360deg);
 }

}

@-o-keyframes "rotate" {
 from {
   -o-transform: rotate(0deg);
   transform:    rotate(0deg);
 }
 to {
   -o-transform: rotate(360deg);
   transform:    rotate(360deg);
 }

}

#tourview {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background-color: rgba(0,0,255,0.7);
  color:            white;
  font-size:        15pt;
  z-index:          100;
  padding-left:     10%;
}

#mapview {
  position: fixed;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}

#map-canvas{
  width:  100%;
  height: 100%;
}

#footer {
  position:         fixed;
  bottom:           0;
  height:           75px;
  left:             0;
  width:            100%;
  background-color: rgba(0,0,255,0.5);
}

#comingfrom, #goingto {
  font-size:  20pt;
}

#comingfrom {
  display:none;
}

#switchq {
  position: fixed;
  right:    0;
}

#fitzoom {
  position:  fixed;
  right:     5px;
  top:       30px;
  font-size: 15pt;
}